body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f0f0f0;
}
td {  background-color: #ffffff}
td {  border-width:1px;
  border-style:solid;
  border-color: #c0c0ff}
th {  border-width:1px;
  border-style:solid;
  border-color: #c0c0ff}
